.about {
    background-color:  rgba(128,128,128, 0.2);
    margin: 2%;
    padding: 2%;
    transition: all 1s ease-in;
    text-align: justify;
}

.about-description {
    color: black;
    background-color: #f6a231;
    display: inline-block;
    border-radius: 10px;
    justify-content: center;
    width: 100%;
}

.about-description p{
    font-size: larger;
    padding-left: 20px;
    padding-right: 20px;
}

.about-description span {
    font-weight: bold;
    text-decoration: underline;

}